<article>
  <div class="row mb-4">
    <p class="fs-2 text-center">
      ¿Tiene alguna consulta? Envíenos un mensaje
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <p class="text-center w-50">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum
      doloremque praesentium nostrum sequi. Doloremque sapiente blanditiis
      aspernatur explicabo fugiat! Eius iusto, veritatis nam dolorum deserunt
      fugit dolores dolor fuga accusamus?
    </p>
  </div>
</article>
