<article class="row mt-5">
  <div class="col-6">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Correo</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
       <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mensaje</label>
        <textarea
          rows="6"
          class="form-control"
          id="exampleInputPassword1"
        ></textarea>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Acepto condiciones y servicios</label
        >
      </div>
      <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
    </form>
  </div>
  <div class="col-6">
    <img
      src="https://images.pexels.com/photos/3184405/pexels-photo-3184405.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="img-fluid"
      alt="..."
    />
  </div>
</article>
