<article class="mt-5">
  <div class="mb-5">
    <p class="fs-2 text-center">Lo que ofrecemos para ti</p>
  </div>
  <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/99/9916b9a7-5d65-4b69-af2f-9b11ccf65312/tarjeta.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una tarjeta de crédito</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/26/26f0297c-a0f6-4c4f-8a97-062f469c2579/prestamo-credito.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una préstamo o crédito</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/8e/8e0d9878-f716-46dd-8e18-29630aec9eb9/cuenta-ahorro%402x.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una cuenta de ahorros</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/0f/0fb6fbfa-9a8f-4c36-9488-4c26b709eff3/pago-automatico%402x.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una cuenta sueldo para ahorrar</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/87/87b6c8a8-1df7-4929-aaf4-ed7c1acb21ce/web_productos-para-ti_2x_64x64_seguro-tarjetas-360_202202.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Seguro de tarjetas 360°</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/99/9916b9a7-5d65-4b69-af2f-9b11ccf65312/tarjeta.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una tarjeta de crédito</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/26/26f0297c-a0f6-4c4f-8a97-062f469c2579/prestamo-credito.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una préstamo o crédito</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/8e/8e0d9878-f716-46dd-8e18-29630aec9eb9/cuenta-ahorro%402x.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una cuenta de ahorros</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/0f/0fb6fbfa-9a8f-4c36-9488-4c26b709eff3/pago-automatico%402x.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Una cuenta sueldo para ahorrar</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div>
          <img
            style="width: 80px"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/87/87b6c8a8-1df7-4929-aaf4-ed7c1acb21ce/web_productos-para-ti_2x_64x64_seguro-tarjetas-360_202202.png"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Seguro de tarjetas 360°</h5>
        </div>
      </div>
    </div>
  </div>
</article>
