<section>
  <article class="mt-5">
    <div class="mb-5">
      <p class="fs-2 text-center">Nuestros usuarios más destacados</p>
    </div>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="mt-3">
            <img
              style="width: 80%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpW1Fje4WKLnWTPsIGQQ08Wa9PdXmaUf8S0g&usqp=CAU"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Juan Perez Molina</h5>
            <p class="card-text">
              Recomiendo este banco porque tiene muy buenos beneficios
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
